/* Reset */


/* */
.ticTacToe {
  box-sizing: border-box;
}

.row {
  width: 300px;
}

.tile {
  width: 100px;
  height: 100px;
  border: 1px dotted tomato;
  cursor: pointer;
  float: left;
  text-align: center;
  line-height: 100px;  
}
